main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: transparent;
    #memoryTable {
        // height: 45vh;
        display: grid;
        // width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        // grid-column-gap: 10px;
        // grid-row-gap: 10px;
        @for $var from 1 to 17 {
            .div#{$var}{
                // background-color: blue;
                // height: 100%;
                display: flex;
                // justify-content: center;
                img{
                    // width: 90%;
                    // height: 90%;
                    background-size: cover;
                }
                // @debug "vuelta: #{$var}";
            }
        }
    }
}

@media only screen and (max-width: 600px){
    main{
        #memoryTable {
            height: 45vh;
            // display: grid;
            width: 100%;
            // grid-template-columns: repeat(4, 1fr);
            // grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(4, 10vh);
            grid-template-rows: repeat(4, 10vh);
            grid-column-gap: 2.1%;
            grid-row-gap: 2.1%;
            @for $var from 1 to 17 {
                .div#{$var}{
                    // background-color: blue;
                    height: 100%;
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 !important;
                    img{
                        width: 90%;
                        height: 90%;
                        background-size: cover;
                        // &:hover{
                        //     transform: rotate3d(0, 1, 0, 360deg);
                        // }
                        // transition-duration: 2s;
                    }
                    &:disabled{
                        opacity: 0.5;
                    }
                    // @debug "vuelta: #{$var}";
                }
            }
            .transparency{
                transition-duration: 0.5s;
                opacity: 0;
            }
        }
    }
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 4 / 1 / 5 / 2; }
.div14 { grid-area: 4 / 2 / 5 / 3; }
.div15 { grid-area: 4 / 3 / 5 / 4; }
.div16 { grid-area: 4 / 4 / 5 / 5; }